<div class='the-world'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="worldmap">
          <!-- first row -->
          <div class="cell" data-cell="11"></div>
          <div class="cell" data-cell="21"></div>
          <div class="cell" data-cell="31"></div>
          <div class="cell" data-cell="41"></div>
          <div class="cell" data-cell="51"></div>
          <!-- second row -->
          <div class="cell" data-cell="12"></div>
          <div class="cell welcome" data-cell="22"></div>
          <div class="cell welcome" data-cell="32"></div>
          <div class="cell welcome" data-cell="42"></div>
          <div class="cell" data-cell="52"></div>
          <!-- third row -->
          <div class="cell" data-cell="13"></div>
          <div class="cell welcome" data-cell="23"></div>
          <div class="cell" id='player' data-cell="33" data-shift-x="<%= x_shift %>" data-shift-y="<%= y_shift %>" data-playercrew="<%= current_user.crew %>"></div>
          <div class="cell welcome" data-cell="43"></div>
          <div class="cell" data-cell="53"></div>
          <!-- fourth row -->
          <div class="cell" data-cell="14"></div>
          <div class="cell welcome" data-cell="24"></div>
          <div class="cell welcome" data-cell="34"></div>
          <div class="cell welcome" data-cell="44"></div>
          <div class="cell" data-cell="54"></div>
          <!-- fifth row -->
          <div class="cell" data-cell="15"></div>
          <div class="cell" data-cell="25"></div>
          <div class="cell" data-cell="35"></div>
          <div class="cell" data-cell="45"></div>
          <div class="cell" data-cell="55"></div>
          <!-- life and soy sauce jauges -->
          <div id="life">
            Life <%= life %>
          </div>
          <div id="soja">
            Soy Sauce <%= soja %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <div class="info-bottom">

            <!-- news info -->
            <div class="news-info text-center">
              <%= t(info, ennemies: ennemies) %>
            </div>

            <!-- player moves -->
            <div class='new-move scrolls text-center hidden'>

              <div class="transportation-options item-1" >
                <%= image_tag "bounce.png", class:'transportation-options-display' %>
                <div class="consumption"><h3>4cl</h3></div>
                <%= form_tag worlds_update_path, method: :put, remote: true do %>
                  <%= hidden_field_tag :new_position %>
                  <%= submit_tag "Bounce", class: "confirm-move" %>
                <% end %>
              </div>

              <div class="transportation-options item-2">
                <h2>2nd item</h2>
              </div>

              <div class="transportation-options item-3">
                <h2>3rd item</h2>
              </div>

              <div class="transportation-options item-4">
                <h2>4th item</h2>
              </div>

            </div>
            <!-- players infos -->

            <% players_on_map.each do |cell, player| %>
              <div class="cell-info text-center hidden" id="cell-info-<%= cell %>" data-x="<%= player.x - x_shift %>" data-y="<%= player.y - y_shift%>" data-crew="<%= player.crew %>" >
                  <h3><%= player.name %></h3>
                  <p><%= player.crew %></p>
                    <%= button_to t('.confirm_attack'), fights_show_path, params: {"defender" => player.id }, class: "confirm-attack hidden" %>



              </div>
            <% end %>

        </div>

      </div>

    </div>
  </div>
</div>


