<div class='the-world'>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <div class="worldmap">
          <!-- first row -->
          <div class="cell" data-cell="11"></div>
          <div class="cell" data-cell="21"></div>
          <div class="cell" data-cell="31"></div>
          <div class="cell" data-cell="41"></div>
          <div class="cell" data-cell="51"></div>
          <!-- second row -->
          <div class="cell" data-cell="12"></div>
          <div class="cell welcome" data-cell="22"></div>
          <div class="cell welcome" data-cell="32"></div>
          <div class="cell welcome" data-cell="42"></div>
          <div class="cell" data-cell="52"></div>
          <!-- third row -->
          <div class="cell" data-cell="13"></div>
          <div class="cell welcome" data-cell="23"></div>
          <div class="cell" id='player' data-cell="33" data-shift-x="<%= x_shift %>" data-shift-y="<%= y_shift %>" data-playercrew="<%= current_user.crew %>"></div>
          <div class="cell welcome" data-cell="43"></div>
          <div class="cell" data-cell="53"></div>
          <!-- fourth row -->
          <div class="cell" data-cell="14"></div>
          <div class="cell welcome" data-cell="24"></div>
          <div class="cell welcome" data-cell="34"></div>
          <div class="cell welcome" data-cell="44"></div>
          <div class="cell" data-cell="54"></div>
          <!-- fifth row -->
          <div class="cell" data-cell="15"></div>
          <div class="cell" data-cell="25"></div>
          <div class="cell" data-cell="35"></div>
          <div class="cell" data-cell="45"></div>
          <div class="cell" data-cell="55"></div>
          <!-- life and soy sauce jauges -->
          <div id="life-holder">
            <%= image_tag "info/heart.png", id: "heart" %>
            <div id="life" class="text-center">
              x<%= life %>
            </div>
          </div>
          <div id="jauge-holder">
            <%= image_tag "info/soja_" + jauge, id: "jauge" %>
            <div id="soja" class="text-center">
              <%= soja %>
            </div>
          </div>
          <%= image_tag "animatedpin.gif", id: "pin" %>
        </div>

        <!-- box content -->
        <div class="items-list hidden">
          <h3>What's in the box</h3>
          <table class='item-table'>
            <% kinder.each do |item| %>
              <tr>
                <td class='vert-align'><%= image_tag "items/" + item.item_type.picture, class:'thumb' %></td>
                <td class='vert-align'><%= item.item_type.name %></td>
                <td class='vert-align text-center'>
                  <%= form_tag worlds_update_path, method: :put, remote: true do %>
                    <%= hidden_field_tag :choice, "grab" %>
                    <%= hidden_field_tag :item_id, item.id %>
                    <%= submit_tag "Grab", class: "confirm-grab" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="info-bottom">

          <!-- funky news -->
          <div class="news-info text-center">
            <div class="info-holder">
              <div class="col-xs-5"><%= image_tag "presentateur.gif", id: "anchorman" %></div>
              <div class="col-xs-6 text-left" id="anchorman-speech"><%= t(info, ennemies: ennemies) %></div>
            </div>
          </div>

          <!-- player self options -->
          <div class='my-maki hidden'>
            <div class='my-profile text-center'>
              <%= form_tag user_path, method: :get do %>
                <%= %>
                <%= image_tag current_user.crew + '.png' %>
                <%= submit_tag t('.profile'), class: "confirm-action" %>
              <% end %>
            </div>
            <div class='search-item text-center'>
              <%= image_tag 'pin.png' %>
              <p class='text-white-shadow text-center' type='submit'>Nothing here</p>
            </div>
            <div class='grab-item text-center hidden'>
              <div class='open-close text-center'>
                <%= image_tag 'item_close.png' %>
                <input class='confirm-action' value='Open Box' type='submit'></input>
              </div>
              <div class='open-close text-center hidden'>
                <%= image_tag 'item_open.png' %>
                <input class='confirm-action' value='Close Box' type='submit'></input>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- player moves options -->
          <div class='new-move scrolls text-center hidden'>

            <div class="transportation-options bg-4" >
              <%= image_tag "items/default/bounce.png", class:'img-options-display' %>
              <div class="items_count"><h3>∞</h3></div>
              <div class="consumption"><h3>4cl</h3></div>
              <%= form_tag worlds_update_path, method: :put, remote: true do %>
                <%= hidden_field_tag :choice, "move" %>
                <%= hidden_field_tag :item_type_id, 'feet' %>
                <%= hidden_field_tag :new_position,'',class:'new_position' %>
                <% if current_user.soja >= 4 %>
                  <%= submit_tag "Bounce", class: "confirm-action" %>
                <% else %>
                <p class="not-possible"><%= t(".nosoy", missing_cl: 4 - current_user.soja) %></p>
                <% end %>
              <% end %>
            </div>

            <% if move_item_types.count > 0 %>
              <% move_item_types.each do |item_type| %>
                <div class="transportation-options bg-<%= item_type.consumption %>" >
                  <%= image_tag "items/" + item_type.picture, class:'img-options-display'%>
                  <div class="items_count"><h3>x<%= current_user.items.where(item_type: item_type.id).count%></h3></div>
                  <div class="consumption"><h3><%= item_type.consumption %>cl</h3></div>
                  <%= form_tag worlds_update_path, method: :put, remote: true do %>
                    <%= hidden_field_tag :choice, "move" %>
                    <%= hidden_field_tag :item_type_id, item_type.id %>
                    <%= hidden_field_tag :new_position,'',class:'new_position' %>
                    <% if current_user.soja >= item_type.consumption %>
                      <%= submit_tag item_type.name, class: "confirm-action" %>
                    <% else %>
                    <p class="not-possible"><%= t(".nosoy", missing_cl: item_type.consumption - current_user.soja) %></p>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <div class="transportation-options bg-2" >
                <%= image_tag "superheroes/#{rand(5)}.png", class:'img-options-display' %>
                <br>
                <p class='text-white-shadow text-center' type='submit'>You Wish!!</p>
              </div>
            <% end %>
          </div>

          <!-- other players infos & position on map -->
          <% players_on_map.each do |cell, player| %>
            <div class="cell-info text-center hidden" id="cell-info-<%= cell %>" data-x="<%= player.x - x_shift %>" data-y="<%= player.y - y_shift%>" data-crew="<%= player.crew %>" >
              <div class="info-holder">
                <div class="col-xs-5">
                   <%= image_tag "emblems/" + player.crew + ".gif", id: "emblem" %>
                </div>
                <div class="col-xs-7 ">
                  <div class="othermaki-info">
                     <h3><%= player.name %></h3>
                    <%= button_to t('.confirm_attack'), fights_show_path, params: {"defender" => player.id }, class: "attack-opponent hidden" %>
                </div>
              </div>
             </div>
            </div>
          <% end %>

          <!-- items position on map -->
          <% items_on_map.each do |cell, item| %>
            <div class="item-info text-center hidden" id="item-info-<%= cell %>" data-x="<%= item.x - x_shift %>" data-y="<%= item.y - y_shift%>" ></div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>


