<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


      <!-- END OF TUTO -->

      <% if params[:endtuto] %>

      <div class="recap tuto_scene1" id="grass-bg">
        <h1>End of tuto</h1>
        <p>Time to fight</p>

      </div>

      <div class="recap tuto_scene2 hidden" id="nonsense">
        <h1>YES</h1>
        <p>oui</p>

      </div>

      <div class="action tutostory">
        <p class= "text-white-shadow tuto_scene1">But one day, salmon makis discovered a big bag of wasabi and concluded they were so hot they could rule the world.</p>
        <%= button_to "Resurrect!", { action: 'update' }, method: :patch, id: "resurrect tuto_scene2 hidden" %>
      </div>

      <!-- MORT DU USER -->
      <% elsif @dead %>

        <div class="recap">
          <h1><%= current_user.name %> died!</h1>
          <p><%= @killer.name %> (<%= @killer.crew %> maki) killed your maki.</p>
        </div>

        <div class="action">
          <%= button_to "Resurrect!", { action: 'update' }, method: :patch, id: "resurrect" %>
        </div>

      <!-- CHANGEMENT DE CREW -->
      <% elsif @change_crew %>
        <div class="recap" id="grass-bg">
          <div class="info-text-box text-white-shadow">
            <h2 class="makishake">WTF is happening?</h2>
            <p class="makishake">Something is growing</p>
            <p class="makishake">inside <%= current_user.name %>...</p>
            <!-- 1 second of animation -->
            <h2 class="placeholder-new-crew hidden">&nbsp;</h2>
            <p class="placeholder-new-crew hidden"> &nbsp;</p>
            <p class="placeholder-new-crew hidden"> &nbsp;</p>
            <!-- after animation -->
            <h2 class="new-crew-delay hidden">WOW! Amazing!</h2>
            <p class="new-crew-delay hidden">He became a <%= current_user.crew %> maki!</p>
            <p class="new-crew-delay hidden">Stay away from <%= @ennemies %>...</p>
          </div>
          <br>
          <%= image_tag "transformation/#{@old_crew}_shake.gif", class: "crew-change makishake" %>
          <%= image_tag "transformation/#{@old_crew}_to_#{@new_crew}.gif", class: "crew-change new-crew hidden" %>
        </div>

        <div class="action">
          <p class="makishake text-white-shadow">Maybe you should try touching him...</p>
          <div class="new-crew-delay hidden"><%= button_to "Go #{current_user.crew}s!", worlds_show_path, method: :get, id: "resurrect" %></div>
        </div>
      <!-- RESUME SI PAS MORT NI CHANGEMENT DE CREW-->
      <% else %>

        <div class="recap">
          <h3> Some stuff happened: </h3>
          <% @events.each do |event| %>

            <%= image_tag "events/" + event[:name] +".png", class: "event-logo" %>
            <%= l(event[:created_at], format: :event) %>
            <br>

             <% case event[:name] %>
            <% when "attack" %>
              <% if event[:item_type_id] %>
                <%= event.user.name + " (" + event.user.crew + ")" + " attacked your maki with a " + ItemType.find(event[:item_type_id]).name + "!" %>
              <% else %>
                <%= event.user.name + " (" + event.user.crew + ")" + " attacked your maki with a chopstick." %>
              <% end %>
            <% when "missed" %>
              <%= event.user.name + " (" + event.user.crew + ")" + " tried to attack your maki but missed." %>
            <% when "broken" %>
            <%= current_user.name + " broke his " + ItemType.find(event[:item_type_id]).name + "!" %>
            <% when "birth" %>
            <%= current_user.name + " landed on " + World.find(event[:world_id]).name + "!" %>
            <% end %>

            <br>
            <br>

          <% end %>
        </div>

        <div class="action">
          <%= button_to "Let\'s fight!", worlds_show_path, method: :get, id: "resurrect" %>
        </div>

      <!-- FIN BOUCLE MORT -->
      <% end %>
    </div>
  </div>
</div>
