<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <div class='my-profile-main'>

      <div class="maki-in-landscape text-center">
        <%= link_to t('component.back'), worlds_show_path, class: "btn btn-primary back-button" %>

        <%= image_tag "emblems/" + current_user.crew, id:'crew-profile' %>

        <ul class='profile-info-crew'>
          <li><%= image_tag current_user.crew, id: "maki-avatar", class:'floating' %></li>
          <li><h2 class= 'text-white-shadow'><%= current_user.name %></h2></li>
          <li><h2 class= 'text-white-shadow'>Team <%= current_user.crew %></h2></li>
        </ul>

      </div>

      <!-- box content -->
      <div class="my-items-list hidden">
        <h3>What's in my bag</h3>
        <table class='item-table'>
          <% @my_items_type.each do |item_type| %>
            <tr>
              <td class='vert-align'><%= image_tag "items/" + item_type.picture, class:'thumb' %></td>
              <td class='vert-align'>
                <ul class='my-items-details'>
                  <li class='title'>
                    <%= item_type.name %>
                    (x<%= current_user.items.where(item_type: item_type.id).count %>)
                  </li>
                  <li class='content'><%= item_type.joke %></li>
                  <li class='content'>Kind: <%= item_type.kind %></li>
                  <li class='content'>Consumption: <%= item_type.consumption %>cl</li>
                  <% if item_type.life_impact %>
                    <li class='content'>Life Impact:
                      <% item_type.life_impact.times do %>
                        <%= image_tag 'info/heart.png', class:'mini' %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>

      <!-- profile self options -->
      <div class='my-profile-menu'>
        <div class='my-items text-center'>
          <div class='my-open-close text-center'>
            <%= image_tag 'item_close.png' %>
            <input class='confirm-action' value='My Items' type='submit'></input>
          </div>
          <div class='my-open-close text-center hidden'>
            <%= image_tag 'item_open.png' %>
            <input class='confirm-action' value='Close Box' type='submit'></input>
          </div>
        </div>
        <div class='my-account text-center'>
          <%= image_tag 'profile/account.png' %><br>
          <%= link_to t('.account'),edit_user_registration_path, class:'confirm-action' %>
        </div>
        <div class="clear"></div>
      </div>

    </div>
  </div>
</div>

