<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1><%= t('.title') %></h1>
      <%= link_to t('.sign_up'), new_username_path, class:'btn btn-primary' %>
      <%= link_to t('.sign_in'), new_user_session_path, class:'btn btn-success' %>


    <!-- Utile pour les tests : à supprimer ensuite -->
      <% if current_user %>
        <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class:'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
