<div class="fights-container">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="fight-display">
          <!-- life and soy sauce jauges -->
          <div id="attacker-name">
            <%= attacker.name %>
          </div>
          <div id="defender-name">
            <%= defender.name %>
          </div>

          <%= link_to t('component.back'), worlds_show_path, class: "back-button" %>

          <%= image_tag "fight/lifebar/lifebar_#{lifebar}.png", class: "lifebar" %>
          <%= image_tag "fight/attacker/#{attacker.crew}.gif", class: "attacker" %>
          <% if success %>
            <%= image_tag "fight/defender/#{defender.crew}.gif", class: "defender hatch" %>
          <% else %>
            <%= image_tag "fight/defender/#{defender.crew}.gif", class: "defender" %>
          <% end %>
          <div id="jauge-holder">
            <%= image_tag "info/soja_" + jauge, id: "jauge" %>
            <div id="soja" class="text-center">
              <%= soja %>
          </div>
          </div>
          <% if message %>
            <div id="after-attack-message">
              <%= message %>
            </div>
          <% end %>
            <% if killed %>
              <div id="ko">
                <%= image_tag "fight/ko.png", class: "bigEntrance" %>
              </div>
            <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="the-fight scrolls">

          <div class="weapon-options bg-4" >
            <%= image_tag "items/default/chopsticks.png", class:'img-options-display' %>
            <div class="items_count text-white-shadow"><h3>∞</h3></div>
            <div class="power"><%= image_tag 'info/fire.png', class:'mini' %></div>
            <div class="consumption text-white-shadow"><h3>4cl</h3></div>
            <% if attacker.soja >= 4 %>
               <%= button_to "Chopsticks", { action: 'update' }, method: :patch, params: { defender: defender_id, item_type_id: 'chopsticks' }, remote: true, class: "confirm-action" %>
            <% else %>
              <p class="not-possible"><%= t(".nosoy", missing_cl: 4) %></p>
            <% end %>
          </div>


          <% if fight_item_types.count > 0 %>
            <% fight_item_types.each do |item_type| %>
              <div class="weapon-options bg-<%= item_type.consumption %>" >
                <%= image_tag "items/" + item_type.picture, class:'img-options-display'%>
                <div class="items_count text-white-shadow"><h3>x<%= current_user.items.where(item_type: item_type.id).count%></h3></div>
                <div class="power">
                  <% item_type.life_impact.times do %>
                    <%= image_tag 'info/fire.png', class:'mini' %>
                  <% end %>
                </div>
                <div class="consumption text-white-shadow"><h3><%= item_type.consumption %>cl</h3></div>
                <% if attacker.soja >= item_type.consumption %>
                   <%= button_to item_type.name, { action: 'update' }, method: :patch, params: { defender: defender_id, item_type_id: item_type.id }, remote: true, class: "confirm-action"%>
                <% else %>
                  <p class="not-possible"><%= t(".nosoy", missing_cl: item_type.consumption - current_user.soja) %></p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="weapon-options bg-2">
              <%= image_tag "superheroes/#{rand(5)}.png", class:'img-options-display' %>
              <br>
              <p class='text-white-shadow text-center' type='submit'>You Wish!!</p>
            </div>
          <% end %>



          <% if killed %>
            <div id="killed">
              <h2><%= t(".killed", opponent: defender.name) %></h2>
              <br>
              <p><%= link_to "Back to the future", worlds_show_path, class: "confirm-action" %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
