<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="fight-display">
        <!-- life and soy sauce jauges -->
        <%= image_tag "fight/#{@attacker.crew}.png", class: "attacker" %>
        <%= image_tag "fight/#{@defender.crew}.png", class: "defender" %>
        <div id="life">
          Life <%= @life %>
        </div>
        <div id="soja">
          Soy Sauce <%= @soja %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="weapon-selection scrolls">
        <div class="item-selection-box">
          <h2>Chopsticks</h2>
          <%= image_tag "chopsticks.jpg", class: "item-attack-display" %>
          <div class="power"><h3>4H</h3></div>
          <div class="consumption"><h3>2cl</h3></div>
        </div>
        <div class="item-selection-box">
          <h2>Other item</h2>
        </div>
        <div class="item-selection-box">
          <h2>Third item</h2>
        </div>
        <div class="item-selection-box">
          <h2>4th item</h2>
        </div>
      </div>

    </div>
  </div>
</div>
