<div class='makiswar-devise'>
  <div class="makiswar-not-connected">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="card-bg-2">
            <%= link_to t('component.back'), root_path, class:'btn btn-default' %>
            <%= image_tag "babyrice.gif", class:"text-center", id:"baby-img" %>
            <h2 class='text-center' id="hereisyourmaki"><%= t('.instruction') %><br><%= t('.instruction2') %></h2>
            <%= form_tag username_path, method: :post do %>
              <%= text_field_tag :username, '', placeholder:'Pedro', class: "form-control" %><br>
              <%= submit_tag t('.submit'), class: "btn btn-success form-control" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
